<!DOCTYPE html>
<html>
  <head>
    <title>FadyProjectthree: <%= @page_title || "Admin area" %> </title>

    <%= stylesheet_link_tag('admin', :media => 'all') %>

  </head>

  <body>

    <div id="header">
        <h1> Simple CMS Admin </h1>
    </div>

    <div id="main">

      <% if !flash[:notice].blank? %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
      <% end %>

      <div class="content">
        <!-- before yield -->
        <%= yield %>
        <!-- after yield -->

      </div>

    </div>

    <div id="footer">
      <p id="copyright"> &copy; shenoudarealty.com </p>
    </div>
  </body>
</html>
